@charset "utf-8";

*{
    margin:0;
    padding:0;
}
body{
    font: 16px/1.5 dotum, gulim, batang, sans-serif;
    color:#222328;
    background:#fff;
}
a,a:link {
    color:inherit;
    text-decoration: none;
}
ul,li,ol {
    list-style: none;
}
.notxt {
    display: none;
}
#popup{
    display: none;
    width: 500px;
    height:400px;
    position: absolute;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #222328;
    padding: 50px;
    z-index: 9999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    background: #ddd;
}
/* header */
.header {
    background: gold;
    height: 100px;
}
.header_wrap{
    width:1200px;
    margin:0 auto;
}
.header_wrap::after{
    content:'';
    display: block;
    clear:both;
}
#logo {
    width: 200px;
    height:40px;
    background: coral;
    float:left;
    margin-top:30px;
}
.nav{
    width:600px;
    height:50px;
    background: cornflowerblue;
    float:right;
    margin:30px 50px 0 0;
}
.nav > li {
    display: inline-block;
}
#gnb{
    width: 100%;
}
#gnb > li {
    width: 25%;
    float:left
}
#gnb > li > a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.on {
    color:#fff;
    background: #000;
}
/* #gnb > li > a:hover {
    color:#fff;
    background: #000;
}
#gnb > li:hover .lnb {
    display: block;
} */
.lnb{
    display: none;
    background: salmon;
}
.lnb li {
    text-align: center;
}
.lnb li a {
    display: block;
}
.lnb li a:hover {
    background: #222328;
    color:#fff;
}
/* slide */
.slide{
    height: 300px;
    background: coral;
}
/* contents */
#board_tab{
    width:40%;
    height: 200px;
    box-sizing: border-box;
    padding : 0 10px;
    float:left;
}
.board_title {
    border-bottom:1px solid #222328;
}
.board_title li{
    display: inline-block;
}
.board_title li.on a {
    background: #222328;
    display:block;
    color:#fff;
    padding: 10px 10px;
    border:1px solid #222328;
    border-top-left-radius: 20px;
}
.board_contents {
    position: relative;
}
#notice{
    list-style:square inside;
    margin: 0 0 0 1em;
}
#notice li {
    position: relative;
}
#notice li span{
    position: absolute;
    right:0;
}
.hide{
    display: none;
}
#gallery{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
}
#gallery li {
    display: inline-block;

}
#gallery figure {
    text-align: center;
}
#banner {
    background: crimson;
    width:30%;
    height: 200px;
    float:left;
}
#shortcut {
    background: violet;
    width: 30%;
    height:200px;
    float:left;
}
/* footer */
.footer {
    height: 100px;
    background: cornflowerblue;
    clear:both;
}